<?xml version="1.0" encoding="UTF-8"?>

<xfburn-settings>
	<setting name="hpaned-position" type="int" value="250"/>
	<setting name="main-window-width" type="int" value="983"/>
	<setting name="main-window-height" type="int" value="1163"/>
	<setting name="vpaned-position" type="int" value="200"/>
</xfburn-settings>
