<?xml version="1.0" encoding="UTF-8"?>
<xfdesktop-menu>
	<title name="Desktop Menu" icon="xfce4-backdrop"/>
	<separator/>
	<app name="Run Program..." cmd="xfrun4" icon="gnome-fs-executable"/>
	<separator/>
	<app name="Terminal" cmd="xfterm4" visible="no" icon="gnome-terminal"/>
	<app name="File Manager" cmd="thunar" visible="no" icon="file-manager"/>
	<app name="Web Browser" cmd="xfbrowser4" visible="no" icon="gnome-globe"/>
	<separator visible="no"/>
	<menu name="Settings" icon="gnome-settings">
		<app name="Settings Manager" cmd="xfce-setting-show" icon="gnome-settings" snotify="true"/>
	</menu>
	<separator/>
	<include type="system" style="simple" unique="true" legacy="true"/>
	<separator visible="no"/>
	<app name="Help" cmd="xfhelp4" visible="no" icon="gnome-help"/>
	<app name="About Xfce" cmd="xfce4-about" visible="no"/>
	<builtin name="Quit" cmd="quit" visible="no" icon="gnome-logout"/>
</xfdesktop-menu>
