alias ll="ls -lha"
alias rm="rm -i"
alias ls="ls --color=auto"
alias l="ls -ail"
alias cl="clear"
alias nano="nano -w"
alias zhcon="zhcon --utf8"
alias mocp="mocp -T transparent-background"

alias et='emacsclient -t "$@" -a ""'
alias ex='emacsclient -nc "$@" -a ""'

#alias man="man -P most"

alias cvs="cvs -z3"

alias reboot="shutdown -r now"

# do a du -hs on each dir on current path
alias lsdir="for dir in *;do;if [ -d \$dir ];then;du -hsL \$dir;fi;done"

# Use VIm as man pager
vman () { vim +"set ft=man" +"Man $*" }
